{
 "parserOptions": {
  "project": "./tsconfig.json"
 },
 "plugins": [
  "literal-check",
  "prettier"
 ],
 "extends": [
  "eslint-config-egg/typescript",
  "prettier"
 ],
 "rules": {
  "quotes": "off",
  "spaced-comment": "off",
  "array-bracket-spacing": "off",
  "comma-dangle": "off",
  "prettier/prettier": "off",
  "@typescript-eslint/no-var-requires": "off"
 }
}